<% layout("/layouts/boilerplate"); %>
<body >   
        <h2>All List is Here!!</h2>
   

    <div class="row row-cols-lg-3 row-cols-med-2">
        
        
<% for(list of allList) { %>
    <a href="listings/<%= list._id%>" class="listing_link">

    <div class="card" style="width: 20rem;">
    <img src="<%=list.image.url%>" class="card-img-top" style="height: 20rem;" alt="...">
    <div class="card-body">
        <div class="card-img-overlay">abcd</div>
    <b><p class="card-text"><%=list.title%></b>
    <br>
    <%=list.price.toLocaleString("en-IN")%> /night
</p>
</div>
</div>
</a>
<%  } %>



</body>
