<% layout("/layouts/boilerplate"); %>
<body >   
     <h2>All List is Here!!</h2>
     <!-- <form action="/listings/new" method="get">
        <button>Create New?</button>
    </form> -->

    <% for(list of allList) { %>
    <form >
        <ul>
                    <li> <p><a href="/listings/<%=list._id%>"><%=list.title%></a></p></li>  
        </ul>
    </form>
    <!-- <form method="get" action="/listings/<%=list._id %>/edit">
                <button type="submit">Edit ?</button>

    </form> -->
    
      <%  } %>

</body>
