<% layout("/layouts/boilerplate"); %>
<body >   
        <h2>All List is Here!!</h2>
   

    <div class="row row-cols-lg-3 row-cols-med-2">
        
<% for(list of allList) { %>

    <div class="card" style="width: 20rem;">
    <img src="<%=list.image.url%>" class="card-img-top" style="height: 20rem;" alt="...">
    <div class="card-body">
    <b><p class="card-text"><%=list.title%></b>
    <br>
    <%=list.price.toLocaleString("en-IN")%>
</p>
</div>
</div>
<%  } %>



</body>
