<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing!</title>
</head>
<body>
    <h2>Fill these Input Boxes</h2>
    <form action="/listings/new" method="POST" >
        <input type="text" name="newTitle" placeholder="Enter Your Title">
        <br>
                <br>

        <textarea type="text" name="newDescription" placeholder="Enter Your Description"></textarea>
                <br>
        <br>

        <input type="text" name="newUrl" placeholder="Enter Your URL">
                <br>
        <br>

        <input type="text" name="newPrice" placeholder="Enter Your Price">
                <br>
        <br>

        <input type="text" name="newLocation" placeholder="Enter Your Location">
                <br>
        <br>

        <input type="text" name="newCountry" placeholder="Enter Your Country">
        <button type="submit">Submit</button>
    </form>
    
    
</body>
</html>